[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-heroku = "*"
django-filter = "*"
whitenoise = "*"
django-debug-toolbar = "*"
django-bootstrap-pagination = "*"
django-versatileimagefield = "*"
"django-bootstrap4" = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-selenium = "*"

[requires]
python_version = "3.6"
