[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
Django = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-bootstrap-pagination = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-sitemaps = "*"

[requires]
python_version = "3.6"
