<h1><b><a href="/">LeisureTime Salnés</a> </b></h1> 


 <div class="container">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button name="btnSubmit" type="submit">Login</button>
        </form>
        </div>
        
        <style>
        
        form {
            border: 3px solid #f1f1f1;
            font-size: 35px;
            margin: auto;
        }
        
        input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          font-size: 20px;
          margin: 5px 0 22px 0;
          display: list-item;
          border: none;
          background: whitesmoke;
        }
        button {
            background-color:cornflowerblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            font-size: 30px;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
        .container {
            padding: 30px;
            width: 60%;
            text-align: center;
            margin: auto;
        }
        a{
            color: dimgray;  
            text-align: center;
        }
        </style>