<h1><b><a href="/">LECER NO SALNÉS</a> </b></h1> 


<div class="col-12 col-xs-12 col-md-6 col-lg-4">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button name="btnSubmit" type="submit">Login</button>
        </form>
       
        
        <style>

            div {
                margin-left: auto;
                margin-right: auto;
                padding-left: 10%;
                padding-right: 10%;
            }
        
        form {
            border: none;
           
            margin: auto;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
         
          margin: 5px 0 22px 0;
          display: list-item;
          border: none;
          background: whitesmoke;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        button {
            background-color:#30BCCC;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        button:hover {
            opacity: 0.8;
        }
        
       
        a{
            color: #30BCCC;
            text-align: center;
            padding: 30%;
        }

        H1{
  color:#30BCCC;

  font-size: unset;
  text-align: center;
} 
        </style>
     </div>