{% load static from staticfiles %}

<html>

<head>
  <title>LECER NO SALNÉS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Kaushan+Script|Lobster+Two|Pacifico|Satisfy" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Concert+One|Fira+Sans+Condensed|Khand|Poor+Story" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {% block scripts %} {% endblock %}
  
</head>

<body>
 
    {% include 'core/nav.html' %}
    {% include 'core/jumbotron.html' %}
    
  
  <div class="page-content container text-justify">
 
    {% block content %} {% endblock %}

  </div>


  <footer class="container-fluid text-center">
    <p>
      <span class="glyphicon glyphicon-globe"></span>Galicia, Spain</p>
    <p>
      <small>by Araceli Lores</small>
    </p>
  </footer>

</body>

</html>