{% extends 'core/base.html' %} 
{% block content %}
<h4 style="color:rgb(12, 111, 122);" "text-align: center"><b>PRÓXIMOS EVENTOS</b>


</h4>

<hr>

        {% for event in events %} 
                


    <div class="card p-3 col-12 col-xs-12 col-md-6 col-lg-4">
                       
        <a href="{% url 'event_detail' pk=event.pk  %}"> 
            <div class="card-body">
            
                <a href="/?category={{ event.category }}"><span class="label label-info "style="float: left;">{{ event.category }}</span></a>
                <br>
                {% if event.image %}
                    <!-- <img src="{{ event.image.url }}" target="_blank" height="177" width="263" /> -->
                    <img class=" card-img-top" src="{{ event.image.url }}" alt="Card image">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/300/200/?random={{event.pk}}" alt="Card image">
                {% endif %}
                
            <h4 class="card-title" style="color:rgb(12, 111, 122);"><b>{{ event.title|upper }}</b>
                {% if event.price %}

                <span style="float: right;" class="label label-success" >{{ event.price }} €</span>
                
                {% endif %}</h4>
            <p class="card-text multiline-ellipsis" style="text-align: justify">{{ event.description }}</p>
            <a href="{% url 'event_detail' pk=event.pk  %}"><button type="button" class="btn btn-info" style="float: right;"><span class="glyphicon glyphicon-menu-right"></span></button></a>

        </div>
          <div class="card-footer">
                
            
            <!-- <a href="{% url 'event_detail' pk=event.pk  %}"><button type="button" class="btn btn-default" style="float: right;"><span class="glyphicon glyphicon-menu-right"></span></button></a> -->
           <small> <p style="float: left;"><span class="glyphicon glyphicon-map-marker" style="color:#30BCCC;"></span>{{ event.place.council|title }}</p>
            <p style="float: right;">{{ event.date|date:"D d M" }} a las {{ event.time }}h</p></small>

        </div>

</div>
{% endfor %}


{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </div>
{% endif %}

{% endblock %}