{% extends 'core/base.html' %} 

{% block search %}

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>


  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  <ul>
  {% for event in filter.qs %}
    <li>{{ event.title }} - {{ event.category }} </li>
  {% endfor %}
  </ul>



{% endblock %}