{% extends 'core/base.html' %} 

{% block content %}

<div class="container">
    <div class="page-header">
        <div class="col-12">
      <h1 id="timeline">Te has perdido...</h1>
    </div>
    {% for event in events %}


    <ul class="timeline">
      <li class="timeline">
        <div class="timeline-badge"><p>{{ event.date }}</p></div>
        <div class="timeline-panel"><a href="{% url 'event_detail' pk=event.pk  %}">
          <div class="timeline-heading">
            <h4 class="timeline-title">{{ event.title }}</h4>   </a>
            
          </div>
          <div class="timeline-body">
            <p>{{ event.description|truncatechars:100 }}</p>
            
            <p><small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> {{ event.place }}</small></p>
       
          </div>
        </div>
      </li>

        </ul>

  {% endfor %}
  </div>
  </div>
  {% endblock %}