
{% extends 'core/base.html' %} 

{% block content %}

<div class="list">
    <h4>
        <b>PRÓXIMOS EVENTOS</b>
    </h4>
    <hr> {% for event in events %}

    <div class="col-12 col-xs-12 col-md-6 col-lg-4">
        <div class="card">
                <img class="card-img-top" src="https://picsum.photos/300/200/?random={{event.pk}}" alt="Card image"> 
           
                <!-- <a href="/?category={{ event.category }}">
                    <span class="label label-info " style="float: left;">{{ event.category }}</span>
                </a>
               -->
                
                <div class="card-body">
                <h4 class="card-title">
                    <b>{{ event.title|upper }}</b>
                    {% if event.price %}

                    <span style="float: right;" class="label label-success">{{ event.price }} €</span>

                    {% endif %}</h4>
                <p class="card-text multiline-ellipsis" style="text-align: justify">{{ event.description }}</p>
                <a href="{% url 'event_detail' pk=event.pk  %}">
                    <button type="button" class="btn btn-info" style="float: right;">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </a>

            </div>
            <div class="card-footer">

                <small>
                    <p style="float: left;">
                        <span class="glyphicon glyphicon-map-marker"></span>{{ event.place.council|title }}</p>
                    <p style="float: right;">{{ event.date|date:"D d M" }} a las {{ event.time }}h</p>
                </small>

            </div>
        </div>
    </div>
    {% endfor %}

    <div class="col-12 pagination">
        {% include 'core/_pagination.html' %}
    </div>
</div>
{% endblock %}