{% extends 'core/base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
           
        <div class="col-12">
                <a href="/?category={{ event.category }}">
                    <span class="label label-default ">{{ event.category }}</span>
                </a>
                {% if event.duration %}

                <span style="float: top" class="label label-info">{{ event.duration }}</span>
                {% endif %}
            <h2 id="titledetail">{{ event.title|title }}</h2>

         

        </div>
        <div class="col-12" id="options">

            
            <br> {% if user.is_authenticated %}
            <a href="{% url 'event_delete' pk=event.pk %}">
                <span class="glyphicon glyphicon-trash"></span>Eliminar</a>
            <a href="{% url 'event_edit' pk=event.pk %}">
                <span class="glyphicon glyphicon-cog"></span>Editar</a>
            {% endif %}



        </div>


      


        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">


            <h4 id="descriptiondetail">{{ event.description|linebreaksbr }}</h4>

            <br>

        </div>





        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card" id="carddetail">

                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>
                </p>


                <p id="eventplace">{{ event.place.address }}</p>


                <p>
                    <span class="glyphicon glyphicon-calendar"></span>
                </p>

                <p>{{ event.date }} </p>
                {% if event.time %}
                <p>ás {{ event.time }}h</p>
                {% endif %} {% if event.date_end %}
                <p>Fin: {{ event.date_end }} </p>
                {% endif %} {% if event.time_end %}
                <p>ás {{ event.time_end }} h</p>
                {% endif %} {% if event.price %}
                <p>
                    <span class="glyphicon glyphicon-tag"></span>
                </p>
                <p>{{ event.price }} €</p>
                {% endif %}


            </div>
           
        </div>


        {% if event.image %}
     <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    
                    <img src="{{ event.image.url }}" height="200" width="300" /> </p>
      
            </div> 
            {% endif %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                {% if event.place.council == 'MEAÑO' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47101.09419460231!2d!3d42.45288012012963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f6964cfb5d033%3A0x2d4a803ad5b5bdd2!2sMea%C3%B1o%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1526481771944"
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'CAMBADOS' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11763.585941093614!2d-8.81838066879985!3d42.51500773335365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f6ac173f11e4d%3A0xb8fc2ad62effa6cc!2sCambados%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529337389681" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'SANXENXO' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94243.67156348744!2d-8.88973984086962!3d42.42529260480509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f684e690e6a93%3A0xfe610ec5cc2bdc64!2sSangenjo%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529337811902" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'RIBADUMIA' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94110.83963527366!2d-8.824585436199206!3d42.5135785704031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f6b5c350d6f83%3A0x404f58273cb17e0!2sRibadumia%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529338002444" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'MEIS' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188262.90521688826!2d-8.859177562690183!3d42.49988801283282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f6cf19fd50ae5%3A0x404f58273cb16c0!2sMeis%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529338056509" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'O GROVE' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11767.647231354902!2d-8.87449532821077!3d42.493427540496995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f40505c346985%3A0x37fcd6af52df7751!2sEl+Grove%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529338115342" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'VILAGARCÍA' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93987.90348027661!2d-8.822077731876195!3d42.59515534992661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f1408e0055c73%3A0xf2c33d44efa75c8c!2sVillagarc%C3%ADa+de+Arosa%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529338162307" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>

                {% elif event.place.council == 'VILANOVA' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11754.29022917!2d-8.835174428152849!3d42.564368372467044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f1577d1a38e03%3A0xd4b2c509299f0081!2sVillanueva+de+Arosa%2C+PO!5e0!3m2!1ses!2ses!4v1529338199064" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>


                {% elif event.place.council == 'A ILLA' %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23509.895913161996!2d-8.888154467470228!3d42.56087733371469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f3fb16f9d7537%3A0xdd5698d2bd1b2c43!2s36626+Isla+de+Arosa%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1529338229800" 
                width="100%" height="40%" frameborder="0" style="border:0"></iframe>


                {% endif %}



                
            </div>




    </div>
</div>


<!-- 
<br>
<div class="col-12 col-xs-12 col-md-6 col-lg-6">
    
</div>
<br>
<div class="col-12" >
    
     
</div> -->

<!-- <div class="row">
</div>
</div> -->

{% endblock %}
