{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="card col-12">
    <h2>Nuevo Evento</h2>
    <form method="POST" onsubmit="return checkForm(this);" class="event-form">{% csrf_token %}
     
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" id="myButton" class="save btn btn-outline-info">GUARDAR</button>
    <a href="/" class="btn btn-default">CANCELAR</a>
    {% endbuttons %}
</form>

    
<script >
        function checkForm(form)
            {
            form.myButton.disabled = true;
            return true;
        }
</script>
</div>
{% endblock %}