<div class="jumbotron" id="centered">
        <h1>Eventos e actividades da comarca</h1>
    

        


        <form action="{% url 'search' %}"  method="get">

        <div class="col-12" id="centered">
                       <div class="container-search">
                                
                                <input type="text" name="description__icontains"  placeholder="Buscar..." id="id_description__icontains">
                              
                              
                                <button type="submit" class="searchButton"  id="submitsearch">
                                        <i class="fa fa-search"></i>
                                </button>

                        </div>
                </div>
        </form>



</div>
