{% extends 'core/base.html' %}
{% block content %}


<html>
<head> 
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
    <title>Maps JavaScript API</title>
	<style> 
  	  #map {
        height: 75%;
        width: 100%;
        
      }
     
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	</style> 
</head>  
	<body>
    <div id ="map"> </div> 
   

    
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCKiIqCdZGrVxx06LSbe7uG3zXOq1Cz5k&callback=initMap" async defer></script>
	<script>
    
    
     var map;
     var i =0;

  	 function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: 42.5245603, lng: -8.8171341 },
        zoom: 11,
        });


        var marker = new google.maps.Marker({
          position: {lat: 42.4443161, lng: -8.7840634},
          map: map,
	        title: 'Concello de Meaño'
          
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5149919, lng: -8.8183807},
          map: map,
	        title: 'Concello de Cambados'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5134679, lng: -8.7897352},
          map: map,
	        title: 'Concello de Ribadumia'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5183947, lng: -8.7058767},
          map: map,
	        title: 'Concello de Meis'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.4018026, lng: -8.8122816},
          map: map,
	        title: 'Concello de Sanxenxo'
        });
        
        var marker = new google.maps.Marker({
          position: {lat: 42.4955412, lng: -8.8659037},
          map: map,
	        title: 'Concello de O Grove'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5972951, lng: -8.7657518},
          map: map,
	        title: 'Concello de Vilagarcía de Arousa'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5643528, lng: -8.8308185},
          map: map,
	        title: 'Concello de Vilanova de Arousa'
        });

        var marker = new google.maps.Marker({
          position: {lat: 42.5608457, lng: -8.8881973},
          map: map,
	        title: 'Concello da Illa de Arousa'
        });



      }
 
	</script>
	</body> 
</html>

{% endblock %}
