{% load static from staticfiles %} {% block scripts %}
<script>
  function initMap() {
    var latlng = new google.maps.LatLng(42.5245603, -8.8171341);
    var mapOptions = {
      zoom: 11,

      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: true,
      scaleControl: true,
      mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
        mapTypeIds: ['roadmap', 'terrain']
      }
    }
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    setMarkers(map, events);
  }
  var iconMarker = {
    path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
    fillColor: 'rgb(12, 111, 122)',
    fillOpacity: 0.7,
    scale: 0.7,

  };

  var events = [
    ['CAMBADOS', 42.5137374, -8.8145173, 'Municipio situado en el centro de las Rías Baixas.La villa de Cambados es conocida principalmente por ser la Capital del Vino Albariño, por su excelente gastronomía, por su incomparable Conjunto Histórico Artístico, por la amabilidad y familiaridad de su gente … pero Cambados es mucho más: es tiempo de ocio, de tranquilidad, relajación y fiesta.', 'https://cambados.es/es/'],
    ['SANXENXO', 42.4002995, -8.8066454, 'Nadie le discute a Sanxenxo el honorífico título de capital del turismo en las Rías Baixas. Casi unida a Portonovo, ambas son localidades de juventud, de “movida”, playa y tapeo. Sanxenxo es una de las capitales del turismo gallego. Su población se multiplica en verano, y el gigantismo urbanístico hace que todo sea moderno. ', 'http://www.sanxenxo.com/'],
    ['MEAÑO', 42.4589021, -8.7811645, 'Rodeado polos concellos de Ribadumia, Poio, Sanxenxo e Cambados, e aberto na súa parte baixa ó mar de Arousa, o Concello de Meaño combina como poucos a beleza natural da súa paisaxe coas imáxes máis emblemáticas da Galicia rural.', 'http://www.concellodemeano.com/ga/inicio'],
    ['VILAGARCIA DE AROUSA', 42.5972951, -8.7635631, 'Vilagarcía de Arousa es hoy un centro turístico clave en Galicia, gracias a su excelente ubicación, estando bien comunidada con cualquier punto de las Rías Baixas,  con extensas playas con bandera azul, naturaleza y parques, con rutas de senderismo como la Sarmiento o las de Cortegada, y pazos cargados de historia para visitar.', 'https://www.vilagarcia.com/'],
    ['MEIS', 42.5183947, -8.7036880, 'Está situado en pleno corazón de la comarca del Salnés. Limita al norte con Villanueva de Arosa y Portas, al este con Barro y Pontevedra, al sur con Poyo y Meaño y al oeste con Ribadumia.', 'http://www.meis.gal/'],
    ['RIBADUMIA', 42.5146137, -8.7536237, 'Limitando cos municipios de Vilanova de Arousa, Cambados, Meaño e Meis. Vive o Patrimonio Natural e Cultural en Ribadumia. Abre ben os ollos ante as propostas que che presentamos.', 'https://www.ribadumia.org/'],
    ['O GROVE', 42.4964925, -8.8652472, 'Península situada na entrada da ría de Arousa. Limita ao sueste con Sanxenxo. Ocupa unha extensión de 21 km cadrados e está formada por dúas parroquias (San Martiño e San Vicente) e unha illa poboada, A Toxa.', 'http://www.concellodogrove.es/'],
    ['VILANOVA DE AROUSA', 42.5627589, -8.8274228, 'Municipio costero situado en la parte occidental de la comarca del Salnés', 'http://www.vilanovadearousa.com/'],
    ['A ILLA DE AROUSA', 42.5521338, -8.8666032, 'A Illa conta con zonas protexidas, que serven de morada de paso a moitas especies, como o Espazo Natural do Carreirón, o pequeno pulmón do municipio, a zona da Area da Secada coa duna móvil mirando cara a costa ou os Illotes de Xidoiros Areoso e Pedregoso, un gran areal e rochedal que fan semellar un oasis no medio do Atlántico.', 'http://www.ailladearousa.es/'],
  ];
  var infowindow;

  function setMarkers(map, events) {
    for (var i = 0; i < events.length; i++) {
      // var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
      var myLatLng = new google.maps.LatLng(events[i][1], events[i][2]);
      var marker = new google.maps.Marker({
        // draggable: true,

        icon: iconMarker,
        animation: google.maps.Animation.DROP,
        position: myLatLng,
        map: map,
        title: events[i][0],
      });
      (function (i, marker) {
        google.maps.event.addListener(marker, 'click', function () {
          if (!infowindow) {
            infowindow = new google.maps.InfoWindow();
          }
          var html = "<b>" + events[i][0] + "</b> <br/>" + events[i][3] + "</b> <br/>" +
            '<a href=' + events[i][4] + ' > ' + events[i][4] + '</a>' + "</b> <br/>"


          infowindow.setContent(html);
          infowindow.open(map, marker);
        });
      })(i, marker);
    }
  };
  initMap();
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP0JK81U42v3tfz6ljPsnE9TJ3RQnM568&callback=initMap" async
  defer></script> {% endblock %} {% block content %}
<div id="map"> </div>
{% endblock %}