{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="card col-12" id="card-place">
    <h2>Nueva Ubicación</h2>
    <form method="POST" onsubmit="return checkForm(this);" class="event-form">{% csrf_token %}

        {% bootstrap_form form %}
    {% buttons %}
     
    
        <button type="submit" id="myButton" class="save btn btn-outline-info">GUARDAR</button>
        <a href="/" class="btn btn-default">CANCELAR</a>
        {% endbuttons %}

        <div class="col-12">
            {% include 'core/map_coords.html' %}
        </div>
       
    </form>
    
    <script >
            function checkForm(form)
                {
                form.myButton.disabled = true;
                return true;
            }
    </script>
</div>
{% endblock %}